#app {
    margin: 5% 5% 5% 20%;
}

table {
	background-color: #eee;
	color: #888888;
	border: solid;
	border-color: #888888;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	width: 60%;
}

th {
    line-height: 3em;
}

td {
    line-height: 0.5em;
    font-size: 14px;
}

li {
	list-style: none;
}

.plus {
    position: relative;
    float: right;
    margin-left: 5px;
    border: none;
    background: transparent;
    font-style: bold;
    font-size: 2.5em;
    color: green;
}

.less {
    border: none;
    background: transparent;
    font-style: bold;
    font-size: 2.5em;
    color: red;
}

.tododone {
    font-weight: italic;
    text-decoration: line-through;
}